<a href="https://colab.research.google.com/github/Adeyinka-hub/MY-MACHINE-LEARNING-AND-DEEP-LEARNING-WORKS-ON-KAGGLE-AND-ZINDI-RESPECTIVELY/blob/master/KAGGLE_Categorical_Features_Encoding_II_(Private_score_0_78807_on_LB)_32nd_Position_out_of_1%2C161_teams_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegressionCV
from sklearn.metrics import roc_auc_score
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [ ]:
submission = pd.read_csv('sample_submission.csv')
train = pd.read_csv('train.csv', header=0,encoding = 'unicode_escape')
test = pd.read_csv('test.csv', header=0,encoding = 'unicode_escape')

labels = train.pop('target')
labels = labels.values

train_id = train.pop("id")
test_id = test.pop("id")

In [ ]:
train.shape, test.shape

((600000, 23), (400000, 23))

In [ ]:
train.head(5)

   bin_0  bin_1  bin_2 bin_3 bin_4  ... ord_3 ord_4 ord_5  day month
0    0.0    0.0    0.0     F     N  ...     c     U    Pw  6.0   3.0
1    1.0    1.0    0.0     F     Y  ...     e     X    pE  7.0   7.0
2    0.0    1.0    0.0     F     N  ...     n     P    eN  5.0   9.0
3    NaN    0.0    0.0     F     N  ...     a     C   NaN  3.0   3.0
4    0.0    NaN    0.0     T     N  ...     h     C    OZ  5.0  12.0

[5 rows x 23 columns]

In [ ]:
data = pd.concat([train, test])
data["ord_5a"] = data["ord_5"].str[0]
data["ord_5b"] = data["ord_5"].str[1]
#data.drop(["bin_0", "ord_5"], axis=1, inplace=True)

In [ ]:
columns = [i for i in data.columns]

dummies = pd.get_dummies(data,
                         columns=columns,
                         drop_first=True,
                         sparse=True)

del data

In [ ]:
train = dummies.iloc[:train.shape[0], :]
test = dummies.iloc[train.shape[0]:, :]

del dummies

In [ ]:
train = train.fillna(0)
train.head(5)

   bin_0_1.0  bin_1_1.0  bin_2_1.0  ...  ord_5b_x  ord_5b_y  ord_5b_z
0          0          0          0  ...         0         0         0
1          1          1          0  ...         0         0         0
2          0          1          0  ...         0         0         0
3          0          0          0  ...         0         0         0
4          0          0          0  ...         0         0         0

[5 rows x 5777 columns]

In [ ]:
print(train.shape)
print(test.shape)

(600000, 5777)
(400000, 5777)

In [ ]:
train = train.sparse.to_coo().tocsr()
test = test.sparse.to_coo().tocsr()

In [ ]:
lr_cv = LogisticRegressionCV(Cs=7,
                        solver="lbfgs",
                        tol=0.0001,
                        max_iter=30000,
                        cv=5)

lr_cv.fit(train, labels)

lr_cv_pred = lr_cv.predict_proba(train)[:, 1]
score = roc_auc_score(labels, lr_cv_pred)

print("score: ", score)

score:  0.7937793996027523

In [ ]:
#submission['id'] = test_id
#submission['target'] = lr_cv.predict_proba(test)[:, 1]

In [ ]:
#submission.head()

In [ ]:
#submission.to_csv("submission_lr_cv.csv", index=False)

In [ ]:
test_pred = lr_cv.predict_proba(test)[:, 1]

In [ ]:
submiss = pd.DataFrame({"id": test_id, "target": test_pred})
submiss.to_csv('Submission(LogisticRegression).csv', index=False)