<a href="https://colab.research.google.com/github/Adeyinka-hub/MY-MACHINE-LEARNING-AND-DEEP-LEARNING-WORKS-ON-KAGGLE-AND-ZINDI-RESPECTIVELY/blob/master/The_use_of_XGBoost_in_Titanic_Experiment_Latest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import xgboost
import csv as csv
from xgboost import plot_importance
from matplotlib import pyplot
from sklearn.model_selection import cross_val_score,KFold
from sklearn.metrics import mean_absolute_error
import matplotlib.pyplot as plt
from scipy.stats import skew
from collections import OrderedDict

In [ ]:
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd

In [ ]:
import pandas as pd
train = pd.read_csv('Titanic_train.csv',header=0,encoding = 'unicode_escape')
train.head(1)

   PassengerId  Survived  Pclass  ...  Ticket_SOPP   Ticket_FC   Ticket_SOTONO2
0            1         0       3  ...             0           0                0

[1 rows x 46 columns]

In [ ]:
Data_value = train.drop(['PassengerId', 'Survived'], axis=1)
Data_target = train['Survived']

In [ ]:
import pandas as pd
test = pd.read_csv('Titanic_test.csv',header=0,encoding = 'unicode_escape')
test.head(1)

   PassengerId  Pclass  Fare_1  ...  Ticket_SOPP   Ticket_FC   Ticket_SOTONO2
0          892       3  7.8292  ...             0           0                0

[1 rows x 45 columns]

In [ ]:
#testdata = testdata.drop(['PassengerId'], axis=1)

In [ ]:
## Splitting of traindata into two
X_train, X_test, y_train, y_test = train_test_split(Data_value, Data_target,random_state = 21,
                                                     test_size=0.30)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((623, 44), (268, 44), (623,), (268,))

# Features Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
model = XGBClassifier(n_estimators= 100,gamma=0.1,
              learning_rate=0.02,colsample_bytree=0.8, max_delta_step=0, max_depth=4,
              min_child_weight=1, missing=None, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0.75, reg_lambda=0.45, scale_pos_weight=1, seed= 42,
              silent=None, subsample= 0.8)
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.8, gamma=0.1,
              learning_rate=0.02, max_delta_step=0, max_depth=4,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0.75, reg_lambda=0.45, scale_pos_weight=1, seed=42,
              silent=None, subsample=0.8, verbosity=1)

In [ ]:
accuracy = model.score(X_train, y_train)
accuracy
print("accuracy: %.1f%%" % (accuracy * 100.0))

accuracy: 85.4%

In [ ]:
## Evaluation of Test

In [ ]:
X_test.head()

     Pclass   Fare_1  Age_1  ...  Ticket_SOPP   Ticket_FC   Ticket_SOTONO2
617       3  16.1000     22  ...             0           0                0
379       3   7.7750     26  ...             0           0                0
725       3   8.6625     26  ...             0           0                0
826       3  56.4958     26  ...             0           0                0
450       2  27.7500     31  ...             0           0                0

[5 rows x 44 columns]

In [ ]:
# make predictions for test data through X_data set above
y_pred = model.predict(X_test)
# predictions = [round(value) for value in y_pred]
print(predictions)

[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1]

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.83      0.93      0.87       161
           1       0.86      0.71      0.78       107

    accuracy                           0.84       268
   macro avg       0.85      0.82      0.83       268
weighted avg       0.84      0.84      0.84       268

In [ ]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: %.1f%%" % (accuracy * 100))

Accuracy: 84.0%

In [ ]:
from sklearn.metrics import confusion_matrix
conf = confusion_matrix(y_test,y_pred)
conf

array([[149,  12],
       [ 31,  76]])

In [ ]:
sub_test = test.drop(['PassengerId'], axis =1)
sub_test_pred = model.predict(sub_test).astype(int)

In [ ]:
Allsub = pd.DataFrame({'PassengerId':test['PassengerId'],
                       'Survived' :sub_test_pred})
Allsub.to_csv("Submission_Titanic_XGBoost,csv", index = False)